/* styles/EditModal.css */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background-color: #222;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-icons {
  display: flex;
  gap: 10px;
}

.icon-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.icon-button:hover {
  color: #ff5733;
}

.button {
  padding: 10px;
  margin: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.button:disabled {
  background-color: #aaa;
}
